<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.night.dao.OrderListMapper">

    <sql id="table">
        orderlist
    </sql>

    <sql id="db_columns">
      order_number,user_UUID,order_create_date,order_modify_date,auto_id,auto_number,day_number,begin_date,price
    </sql>

    <sql id="select_all_columns">
      order_number orderNumber,user_UUID userUUID,order_create_date createDate,order_modify_date modifyDate,auto_id autoId,auto_number autoNumber,day_number dayNumber,begin_date beginDate,price
    </sql>

    <insert id="addOrderList" parameterType="OrderList">
        INSERT
        <include refid="table"/>
        (<include refid="db_columns"/>)
        VALUES
        (#{order_number},#{user_UUID},#{order_create_date},#{order_modify_date},#{auto_id},#{auto_number},#{day_number},#{begin_date},#{price})
    </insert>

    <update id="createTable">
        create table if not exists
        <include refid="table"/>
        (
        order_number VARCHAR(15) primary key,
        user_UUID varchar(20) not NULL,
        order_create_date timestamp not null default current_timestamp(),
        order_modify_date timestamp not null default 0 on update current_timestamp(),
        auto_id SMALLINT unsigned not NULL,
        auto_number SMALLINT unsigned not NULL,
        day_number SMALLINT unsigned not NULL,
        begin_date date not NULL,
        price smallint unsigned not NULL)
    </update>

    <update id="saveOrderList" parameterType="OrderList">
        UPDATE
        <include refid="table"/>
        SET
        user_UUID = #{user_UUID},
        order_create_date = #{order_create_date},
        order_modify_date = #{order_modify_date},
        auto_id = #{auto_id},
        auto_number = #{auto_number},
        day_number = #{day_number},
        begin_date = #{begin_date},
        price = #{price}
        WHERE order_number = #{order_number}
    </update>

    <select id="getOneByOrderNumber" resultType="OrderList" parameterType="int">
        select
        <include refid="select_all_columns"/>
        from
        <include refid="table"/>
        where order_number = #{order_number}
    </select>

    <select id="getList" resultType="OrderList">
        SELECT
        <include refid="select_all_columns"/>
        FROM
        <include refid="table"/>
    </select>

</mapper>